In [24]:
import sklearn
import pandas as pd
import numpy as np

import numpy as np
from sklearn.metrics import mean_squared_log_error

## 1 Preprocessing

### Data load

In [25]:
df_train_x = pd.read_csv('../data/train.csv')
df_test_x = pd.read_csv('../data/test.csv')

In [26]:
df_train_x.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Feature selection

In [27]:
len(df_train_x), len(df_test_x)

(1460, 1459)

In [28]:
col_to_drop = []
for column_x in df_train_x:
    if df_train_x[column_x].isna().sum() > 1460/2:
        col_to_drop.append(column_x)

In [29]:
col_to_drop

['Alley', 'PoolQC', 'Fence', 'MiscFeature']

In [30]:
# drop the columns
df_train_x = df_train_x.drop(columns = col_to_drop)

In [31]:
df_train_x.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [32]:
for column_x in df_train_x:
    print(column_x, df_train_x[column_x].nunique())

Id 1460
MSSubClass 15
MSZoning 5
LotFrontage 110
LotArea 1073
Street 2
LotShape 4
LandContour 4
Utilities 2
LotConfig 5
LandSlope 3
Neighborhood 25
Condition1 9
Condition2 8
BldgType 5
HouseStyle 8
OverallQual 10
OverallCond 9
YearBuilt 112
YearRemodAdd 61
RoofStyle 6
RoofMatl 8
Exterior1st 15
Exterior2nd 16
MasVnrType 4
MasVnrArea 327
ExterQual 4
ExterCond 5
Foundation 6
BsmtQual 4
BsmtCond 4
BsmtExposure 4
BsmtFinType1 6
BsmtFinSF1 637
BsmtFinType2 6
BsmtFinSF2 144
BsmtUnfSF 780
TotalBsmtSF 721
Heating 6
HeatingQC 5
CentralAir 2
Electrical 5
1stFlrSF 753
2ndFlrSF 417
LowQualFinSF 24
GrLivArea 861
BsmtFullBath 4
BsmtHalfBath 3
FullBath 4
HalfBath 3
BedroomAbvGr 8
KitchenAbvGr 4
KitchenQual 4
TotRmsAbvGrd 12
Functional 7
Fireplaces 4
FireplaceQu 5
GarageType 6
GarageYrBlt 97
GarageFinish 3
GarageCars 5
GarageArea 441
GarageQual 5
GarageCond 5
PavedDrive 3
WoodDeckSF 274
OpenPorchSF 202
EnclosedPorch 120
3SsnPorch 20
ScreenPorch 76
PoolArea 8
MiscVal 21
MoSold 12
YrSold 5
SaleType 9
SaleCondition 6
SalePrice 663

In [33]:
col_to_drop = []
for column_x in df_train_x:
    if df_train_x[column_x].nunique() < 20:
        col_to_drop.append(column_x)

In [34]:
# drop the columns
df_train_x = df_train_x.drop(columns = col_to_drop)

In [35]:
for column_x in df_train_x:
    print(column_x, df_train_x[column_x].nunique())

Id 1460
LotFrontage 110
LotArea 1073
Neighborhood 25
YearBuilt 112
YearRemodAdd 61
MasVnrArea 327
BsmtFinSF1 637
BsmtFinSF2 144
BsmtUnfSF 780
TotalBsmtSF 721
1stFlrSF 753
2ndFlrSF 417
LowQualFinSF 24
GrLivArea 861
GarageYrBlt 97
GarageArea 441
WoodDeckSF 274
OpenPorchSF 202
EnclosedPorch 120
3SsnPorch 20
ScreenPorch 76
MiscVal 21
SalePrice 663

In [36]:
df_train_x.head()

,Id,LotFrontage,LotArea,Neighborhood,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GrLivArea,GarageYrBlt,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,MiscVal,SalePrice
0,1,65.0,8450,CollgCr,2003,2003,196.0,706,0,150,...,1710,2003.0,548,0,61,0,0,0,0,208500
1,2,80.0,9600,Veenker,1976,1976,0.0,978,0,284,...,1262,1976.0,460,298,0,0,0,0,0,181500
2,3,68.0,11250,CollgCr,2001,2002,162.0,486,0,434,...,1786,2001.0,608,0,42,0,0,0,0,223500
3,4,60.0,9550,Crawfor,1915,1970,0.0,216,0,540,...,1717,1998.0,642,0,35,272,0,0,0,140000
4,5,84.0,14260,NoRidge,2000,2000,350.0,655,0,490,...,2198,2000.0,836,192,84,0,0,0,0,250000

In [37]:
selected_columns = ["LotFrontage", "LotArea",
                    "YearBuilt", "BsmtFinSF1", "GrLivArea"]

In [38]:
df_train_y = df_train_x[(selected_columns + ["SalePrice"])].dropna()

In [39]:
df_train_y = df_train_x[["SalePrice"]]

df_train_x = df_train_x[selected_columns]
df_test_x = df_test_x[selected_columns]

In [40]:
df_train_x.head()

   LotFrontage  LotArea  YearBuilt  BsmtFinSF1  GrLivArea
0         65.0     8450       2003         706       1710
1         80.0     9600       1976         978       1262
2         68.0    11250       2001         486       1786
3         60.0     9550       1915         216       1717
4         84.0    14260       2000         655       2198

### Train and test split

In [41]:
from sklearn.model_selection import train_test_split

train_train_x, train_test_x, train_train_y, train_test_y = train_test_split(df_train_x, df_train_y, test_size = 0.8)

## Feature selection

## 3 Feature processing

### Process

### Scale and encode

## 4 Modeling training

## 5 Model evaluation